In [1]:
import glob

import pandas as pd

path = './data'
csv_files = glob.glob(path + '/*.csv')

df_list = (pd.read_csv(file) for file in csv_files)

df = pd.concat(df_list, ignore_index=True)

In [2]:
df

,Year,Round,Winner Seed,Winner Name,Winner Score,Loser Seed,Loser Name,Loser Score
0,2006,first_round,1,UConn,72,16,Albany,59
1,2006,first_round,8,Kentucky,69,9,UAB,64
2,2006,first_round,5,Washington,75,12,Utah State,61
3,2006,first_round,4,Illinois,78,13,Air Force,69
4,2006,first_round,11,George Mason,75,6,Michigan State,65
...,...,...,...,...,...,...,...,...
877,2019,elite_eight,1,Virginia,80,3,Purdue,75
878,2019,elite_eight,5,Auburn,77,2,Kentucky,71
879,2019,final_four,1,Virginia,63,5,Auburn,62
880,2019,final_four,3,Texas Tech,61,2,Michigan State,51
881,2019,championship,1,Virginia,85,3,Texas Tech,77

In [3]:
df.describe()

              Year  Winner Seed  Winner Score  Loser Seed  Loser Score
count   882.000000   882.000000    882.000000  882.000000   882.000000
mean   2012.500000     4.826531     75.230159    8.605442    63.540816
std       4.033416     3.681481     10.629467    4.562928    10.222109
min    2006.000000     1.000000     47.000000    1.000000    29.000000
25%    2009.000000     2.000000     68.000000    5.000000    57.000000
50%    2012.500000     4.000000     75.000000    9.000000    63.000000
75%    2016.000000     7.000000     82.000000   13.000000    71.000000
max    2019.000000    16.000000    121.000000   16.000000    99.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          882 non-null    int64
 1   Round         882 non-null    object
 2   Winner Seed   882 non-null    int64
 3   Winner Name   882 non-null    object
 4   Winner Score  882 non-null    int64
 5   Loser Seed    882 non-null    int64
 6   Loser Name    882 non-null    object
 7   Loser Score   882 non-null    int64
dtypes: int64(5), object(3)
memory usage: 55.2+ KB